.parchment {
 background-image: url('./assets/lightParchment.png');
 width: clamp(300px, 500px, 900px);
 height: fit-content;
 position: relative;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
 display: flex;
 flex-direction: column;
 align-items: left;
 padding: 1em;
}
.statBlock > h1{
  color: #451302;
}
.statBlock {
  color: #3b1107;
}
.actionBlock {
  margin-top: -15px;
}
.orange {
  background-color: rgba(175, 114, 0, 0.5);
  width: 101%;
  height: 6px;
  position: absolute;
  border: solid black 1px;
  margin-left: -1.2em;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.line{
  background-color: #912d19;
  width: 100%;
  height: 1px;
}
.greater{
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 5px;
  margin-top: .3em;
  margin-bottom: .3em;
}
.attributeContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bookinsanity', sans-serif;
  font-size: 18px;
  width: 16%;

}
.attribute > p{
  margin: 0;
}
.attribute > div{
  width: 80%;
}
.details {
  align-items: baseline;
  gap: .2em;
}
.keyValue {
  display: flex;
  align-items: center;
  height: 20px;
  gap: .2em;
}
.keyValue > p {
  margin: 0;
}
.details {
  display: flex;
  flex-direction: row;
}
.editable {
  cursor: pointer;
}
.h1 {
  height: 28px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1.9em;
}