
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.parchment {
 background-image: url('/assets/blockBg.webp');
 min-width: 350px;
 max-width: 450px;
 height: fit-content;
 position: relative;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
 flex-direction: column;
 align-items: left;
 padding: 1em;
 overflow-y: visible;
 flex-shrink: 0;
 flex: 0 0 auto;
}
.wrap > .parchment{
  max-height: 90vh;

  column-width: 350px;
  column-gap: 1em;
  width: max-content;
  max-width: 100vh;
}
.wrap > .parchment > *{
  font-size: .85em;
}
.wrap > .parchment > .action > p {
  margin-top: 4px;
  margin-bottom: 6px;
}
.action > p {
  margin-top: 8px;
  margin-bottom: 10px;
}
.monImg {
  flex-grow: 0;
  flex-shrink: 1;
  object-fit: contain;
  max-width: 40%;
  min-width: 0;
  max-height: 90vh;
}
.wrap > .monImg {
  max-width: 30%;
}
.options {
  display: flex;
  align-items: start;
}
.option {
  width: 2em;
}
.btn.saved {
  filter: brightness(0) saturate(100%) invert(42%) sepia(72%) saturate(464%) hue-rotate(101deg) brightness(96%) contrast(96%);
}
.monList {
  z-index: 1;
  background-color: bisque;
  border: 1px black solid;
  border-top: 0;
  transform-origin: left;
  animation: expandHoriz .2s 1;
}
.monEntry {
  border-top: 1px solid black;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: .2em;
}
.monEntry:hover {
  box-shadow: 2px 2px black;
}
.saveNotice {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1.24em;
  top: 4.6em;
  font-size: 1em;
  color: rgb(148, 0, 0);
}
.saveNotice > img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(52%) saturate(4406%) hue-rotate(351deg) brightness(88%) contrast(123%);
  animation: moveDnUp 1.5s ease-in-out infinite alternate;
}
.listBtn {
  margin-left: auto;
}
.imgInput {
  transform-origin: right;
  animation: expandHoriz .2s 1;
  margin-right: .5em;
}
.statBlock > h1{
  color: #451302;
}
.statBlock {
  color: #3b1107;
}
.wrap > .parchment > .orange {
  max-width: 101%;
}
.orange {
  left: -.5%;
  background-color: rgba(175, 114, 0, 0.5);
  width: 101%;
  height: 6px;
  position: absolute;
  border: solid black 1px;
  align-self: center;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.line{
  background-color: #912d19;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.greater{
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 5px;
  margin-top: .3em;
  margin-bottom: .3em;
}
.attributeContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.attribute {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bookinsanity', sans-serif;
  font-size: 18px;
  width: 16%;

}
.attribute > p{
  margin: 0;
}
.attribute > div{
  width: 80%;
}
.details {
  align-items: baseline;
  gap: .2em;
}
.keyValue {
  
  display: flex;
  align-items: center;
  gap: .2em;
}
.keyValue > p {
  margin: 0;
}
.details {
  display: flex;
  flex-direction: row;
}
.editable {
  cursor: pointer;
}
.editable:hover {
  color: #2C2C79;
}
.editContainer {
  display: flex
}
.h1 {
  height: 28px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1.9em;
}
.btnContainer {
  display: flex;
}
.delete {
  margin-left: auto;
}
.categoryHeader {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.categoryHeader > .btn {
  margin-left: auto;
}
.btn {
  filter: invert(11%) sepia(44%) saturate(1262%) hue-rotate(333deg) brightness(97%) contrast(104%);
}
.btn:hover {
  cursor: pointer;
  filter: invert(20%) sepia(60%) saturate(1824%) hue-rotate(210deg) brightness(70%) contrast(90%);
}
.actionNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.offset {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-110%);
}
.actionInput {
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
}
.editAction > .btnContainer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.hidden {
  display: none;
}

@keyframes moveDnUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes expandHoriz {
  
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(105%);
  }
  100% {
    transform: scaleY(100%);
  }
}