.parchment {
 background-image: url('./assets/blockBg.webp');
 width: clamp(300px, 500px, 900px);
 height: fit-content;
 position: relative;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
 display: flex;
 flex-direction: column;
 align-items: left;
 padding: 1em;
}
.statBlock > h1{
  color: #451302;
}
.statBlock {
  color: #3b1107;
}
.actionBlock {
  margin-top: -15px;
}
.orange {
  background-color: rgba(175, 114, 0, 0.5);
  width: 101%;
  height: 6px;
  position: absolute;
  border: solid black 1px;
  margin-left: -1.2em;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.line{
  background-color: #912d19;
  width: 100%;
  height: 1px;
}
.greater{
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  height: 5px;
  margin-top: .3em;
  margin-bottom: .3em;
}
.attributeContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bookinsanity', sans-serif;
  font-size: 18px;
  width: 16%;

}
.attribute > p{
  margin: 0;
}
.attribute > div{
  width: 80%;
}
.details {
  align-items: baseline;
  gap: .2em;
}
.keyValue {
  
  display: flex;
  align-items: center;
  gap: .2em;
}
.keyValue > p {
  margin: 0;
}
.details {
  display: flex;
  flex-direction: row;
}
.editable {
  cursor: pointer;
}
.editable:hover {
  color: #2C2C79;
}
.editContainer {
  display: flex
}
.h1 {
  height: 28px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1.9em;
}
.btnContainer {
  display: flex;
}
.delete {
  margin-left: 1em;
}
.categoryHeader {
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}
.categoryHeader > .btn {
  margin-left: auto;
}
.btn {
  filter: invert(11%) sepia(44%) saturate(1262%) hue-rotate(333deg) brightness(97%) contrast(104%);
}
.btn:hover {
  cursor: pointer;
  filter: invert(20%) sepia(60%) saturate(1824%) hue-rotate(210deg) brightness(70%) contrast(90%);
}
.actionNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.offset {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-110%);
}
.actionInput {
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
}
.editAction > .btnContainer {
  position: absolute;
  left: 0;
  bottom: 0;
}